extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	- for(x=0;x<10;x++)
		p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolor quibusdam ea reiciendis nemo dolorem impedit placeat nam, error, earum quisquam minus in non molestias obcaecati! Eligendi tenetur nulla excepturi.
	.container
		.row
			.col
				.item(data-count="200" data-from="0") 
				.item(data-count="600" data-from="100") 
				.item(data-count="1700" data-from="1000") 
